/venv
/app/db_credentials.py

# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Distribution/packaging
build/
dist/
*.egg-info/

# IDE/editor settings
*.swp
*.swo
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# SQLAlchemy migrations
migrations/

# SQLite database
*.sqlite3
